@page
@model Desafio2_padaria.Pages.Vendas.DetailsModel

<h1>Detalhes da Venda</h1>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Model.Venda.Cliente?.Nome
        </dd>

        <dt class="col-sm-2">
            Data da Venda
        </dt>
        <dd class="col-sm-10">
            @Model.Venda.Data.ToString("dd/MM/yyyy HH:mm")
        </dd>

        <dt class="col-sm-2">
            Forma de Pagamento
        </dt>
        <dd class="col-sm-10">
            @Model.Venda.FormaPagamento
        </dd>

        <dt class="col-sm-2">
            Valor Total
        </dt>
        <dd class="col-sm-10">
            R$ @Model.Venda.ValorTotal
        </dd>
    </dl>

    <h4>Produtos</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model.Venda.Produtos)
            {
                <tr>
                    <td>@produto.Descricao</td>
                    <td>R$ @produto.Preco</td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./Index" class="btn btn-primary">Voltar</a>
</div>
